.nav{
  background-color: rgb(210, 162, 39);
  margin-bottom: 20px;
  height: 100px;


}
.gray  {
  border: 1px solid rgb(231, 231, 231);
}
.box {

}
.box img {
  width: 100%;
}
.row{
  padding-bottom: 20px;
}
h1 , p {
  margin-top:2px;
}
h2{
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}
h3{
  margin-left: 15px;
  font-size: 15px;
  font-weight: lighter;
}
